# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Streamlit
.streamlit/

# Temporary files
temp/

# ML Models
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Database
*.db

# Logs
*.log

# Large ML files
*.zip
*.h5
*.pt
*.pth
*.onnx

autoverse-backend/car-damage-detection.zip